$base: 14px;
$max-width: 2300px;
$min-width: 1800px;

$focus-color: #f07a26;

$top-h: 60px;
$top-h-top: 60px;
$top-h-bottom: 37px;

$side-w: 280px;
$side-s: 80px;

$content-top: 85px;
$content-padding-lr: 25px;

$pop-padding-lr: 20px;

$copyright-h: 23px;